{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans "Pro-Cons.org" %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% trans "Argument analysis and mapping platform" %}{% endblock %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static "css/h5bp.css" %}" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}?v=3.2.6" />
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" />
    <link rel="image_src" type="image/png" href="https://pro-cons.org{% static "img/logo-large.png" %}" />
    <meta property="og:image" content="http://pro-cons.org{% static "img/logo-large.png" %}"/>
    {% block extra-meta %}{% endblock %}
</head>
<body{% block body-attrs %}{% endblock %}>
{% block header %}
<header class="container">
    {% if announcements.exists %}
    <ul class="announcements">
        {% for announcement in announcements %}
            <li><strong>{% trans "Announcement:" %} </strong> <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="logo">
        <a href="{% if user.is_anonymous %}/{% else %}{% url "newsfeed" %}{% endif %}">
            argüman
            <img src="{% static "img/logo.png" %}" alt=""/></a>
    </div>
    <nav>
        <ul id="site-navigation">
            <li><a href="{% url "about" %}">{% trans "about" %}</a></li>
            <li><a href="{% url "blog" %}">{% trans "blog" %}</a></li>
            {% if user.is_anonymous %}
            <li><a href="{% url "auth_registration" %}">{% trans "register" %}</a></li>
            <li><a href="{% url "auth_login" %}">{% trans "login" %}</a></li>
            {% else %}
            <li><a class="new-argument-link" href="{% url "new_argument" %}">{% trans "new argument" %}</a></li>
            <li><a class="username" href="{% url "auth_profile" user.username %}">{{ user.username|truncatechars:14 }}</a>
                (<a href="{% url "auth_logout" %}">{% trans "logout" %}</a>)</li>
            {% endif %}
            <li class="inline-search pull-right">
                <form action="{% url "contentions_search" %}">
                    <input type="search" name="keywords" id="keyword" placeholder="{% trans "search keywords" %}">
                </form>
            </li>
            <li class="social-links">
                {% get_current_language as language %}
                {% trans "Languages:" %}
                <a {% if language == "en" %}class="active" {% endif %}
                    href="http://en.pro-cons.org">English</a>
                <a {% if language == "zh-Hans" %}class="active" {% endif %}
                    href="http://ch.pro-cons.org">{% trans "中文" %}</a>
            </li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <p>
            <a href="/tos">{% trans "Terms of Service" %}</a> |
            <a href="mailto:info@pro-cons.org">info@pro-cons.org</a>
    </p>
    </div>
</footer>
{% endblock %}
<script type="text/javascript" src="{% static "js/lib/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/jquery-ui.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/class.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/hipo.infinity-scroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js?v=3.2.2" %}"></script>
{% block extra-scripts %}{% endblock %}
	

</body>
</html>
